{% extends 'base.html.twig' %}

{% block main %}
    <div class="row m-5">
        <div class="col-6">
            {{ include('homepage/_expiring_product.html.twig') }}
        <div class="col-6">
    </div>
{% endblock %}