{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit {{ productItem.product.name}}</h1>

    {{  form_start((productItemForm)) }}
        {{  form_widget(productItemForm) }}

        <button type="submit" class="btn btn-primary">Update!</button>
    {{  form_end((productItemForm)) }}


{% endblock %}