{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new product</h1>

    {{  form_start((productForm)) }}
        {{  form_widget(productForm) }}

        <button type="submit" class="btn btn-primary">Create!</button>
    {{  form_end((productForm)) }}
{% endblock %}