{% extends 'base.html.twig' %}

{% block main %}
    <h1>Add new product</h1>

    {{  form_start((addProductForm)) }}
    {{  form_widget(addProductForm) }}

    <button type="submit" class="btn btn-primary">Create!</button>
    {{  form_end((addProductForm)) }}
{% endblock %}