@import '~bootstrap';

body {
    background-color: ghostwhite;
}

.navbar-brand{
    font-family: "Source Sans Variable", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    color: darkblue;
}